.contactt {

    border: 0px solid black;  
    font-family: Arial, Helvetica, sans-serif;

}

.form_contact {

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 3%;

}

#names {

    display: block;
    margin-bottom: 1%;

}

#phone {

   display: block;
   margin-bottom: 1%;

}

#email {

    display: block;
    margin-bottom: 1%;

}

#mensaje {

    display: block;
    margin-bottom: 1%;

}

#btnSend {

    display: block;
    margin-bottom: 1%;

}
