.contactt {

    border: 10px solid black;  
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    max-width: 30%;
    max-height: 30%;

}

.form_contact {

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 3%;

}

#names {

    display: block;
    margin-bottom: 1%;
    max-width: 80%;
    max-height: 80%;

}

#phone {

   display: block;
   margin-bottom: 1%;
   max-width: 80%;
   max-height: 80%;

}

#email {

    display: block;
    margin-bottom: 1%;
    max-width: 80%;
    max-height: 80%;

}

#mensaje {

    display: block;
    margin-bottom: 1%;
    max-width: 80%;
    max-height: 80%;

}

#btnSend {

    display: block;
    margin-bottom: 1%;
    max-width: 80%;
    max-height: 80%;

}
